footer {
    position: relative;
    left: 55vh;
    width: 150vh;
    height: 100%;
    padding: 3.1vh 1vh;
    border: none;
    display: flex;
    justify-content: space-between;

    div {
        border: none;
    }

    a:hover {
        color: white !important;
    }
}