main {
    position: relative;
    left: 65vh;
    width: 150vh;
    height: 100%;
    padding: 3.1vh 1vh;

    #Intro {
        display: flex;
        align-items: center;
        padding-right: 2vh;

        #hero {
            width: 40vh;
            height: 40vh;
            margin: 2vh;
            border: none;
        }

        .introRight {
            width: 100%;
            border: none;
            display: flex;
            flex-direction: column;
            gap: 1vh;

            .introRight__Top {
                display: flex;
                justify-content: space-between;
                padding: 1vh 2vh;
                gap: 1vh;

                .introRight__TopLeft {
                    display: flex;
                    align-items: center;
                    gap: 1vh;
                    padding: 1vh 3vh 1vh 3vh;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 2vh;
                        font-size: 14px;
                        color: var(--off-white-color);
                        
                        span {
                            width: 6px;
                            height: 6px;
                            background-color: #00A34C;
                            border-radius: 50%;
                            position: relative;

                            &::before {
                                content: "";
                                background-color: rgb(0, 163, 76);
                                position: absolute;
                                top: -7px;                            
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                animation: onlineAnim 1s infinite linear;
                            }
                        }
                    }
                }

                .introRight__TopCenter {
                    display: flex;
                    align-items: center;
                    gap: 1vh;
                    padding: 1vh 4vh 1vh 4vh;

                    i {
                        color: var(--cotton-candy-pink);
                    }

                    span {
                        font-size: 14px;
                        color: var(--off-white-color);
                    }
                }

                .introRight__TopRight {
                    display: flex;
                    align-items: center;
                    color: white;
                    gap: 1vh;
                    padding: 1vh 7vh 1vh 7vh;
                }
            }

            .introRight__Bottom {
                display: flex;
                gap: 1vh;
                border: none;

                .introRight__BottomLeft {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    padding: 2vh;
                    gap: 1vh;

                    span {
                        color: var(--light-gray-color);
                        font-size: 14px;
                    }

                    h1 {
                        font-size: 23px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .introRight__BottomRight {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    padding: 1vh 3vh 1vh 3vh;
                    
                    .introRight__BottomRight__Top {
                        display: flex;
                        justify-content: space-around;
                        border: none;
                        
                        span {
                            color: var(--off-white-color);
                            border: var(--main-element-border);
                            padding: 1vh 4vh 1vh 4vh;
                            font-size: 14px;

                            &:nth-child(2) {
                                display: flex;
                                align-items: center;
                                gap: 1vh;
                            }
                        }
                    }

                }
            }
        }
    }

    .Projects {
        flex-direction: column;

        span {
            width: 11vh;
        }

        .marqueeEffect li:nth-child(2) {
            margin-left: -4vh !important;
        }

        .projectsHeader__Center {
            
            .marqueeEffect li {
                width: 155%;
            }
        }
        
        .projectsMain {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 97.3%;
            border: none;

            .projectsMain__Cards {
                display: flex;
                gap: 2vh;
                width: 100%;
                border: none;

                .projectsMain__Card {
                    width: 25%;
                    padding: 1vh;

                    img {
                        width: 45vh;
                        height: 45vh;
                        border: none;
                    }

                    .projectsMain__CardLink {
                        display: flex;
                        flex-direction: column;
                        border: none;
                        
                        a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 98%;
                        }

                        span {
                            color: var(--light-gray-color);
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .Partners {
        flex-direction: column;
        align-items: center;

        .partnersMain__Images {
            border: var(--main-element-border);
            padding: 2vh;
            margin: 2vh;
            overflow: hidden;
            width: 97.3%;
            
            li {
                margin: 1vh;
                height: 100%;
                
                img {
                    animation: marquee 10s infinite linear;
                    padding: 2vh;
                    width: 25vh;
                    height: 15vh;
                }
            }
        }

        .partnersMain__Info {
            justify-content: space-between;
            width: 100%;
            gap: 5vh;
            
            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 2vh;
                width: 20vw;
                padding: 2vh;
                border: var(--main-element-border);
            }
        }
        
    }
    
    #EducationAndExperience {
        display: flex;
        justify-content: space-between;
        padding: 2vh;
        
        .education, .experience {
            width: 49%;
            display: flex;
            flex-direction: column;
            
            .educationHeader, .experienceHeader {
                width: max-content;
                padding: 1vh 2vh 2vh;
                margin: 2vh;
                border: var(--main-element-border);

                h4 {
                    padding-top: 0.5vh;
                }
            }

            .educationMain, .experienceMain {
                flex-direction: column;
                
                li {
                    display: flex;

                    img {
                        width: 15vh;
                        height: 15vh;
                        padding: 2vh;
                        border-left: none;
                    }
                    
                    .educationAndExperience__Text {
                        padding-left: 2vh;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-right: none;

                        span {
                            color: var(--light-gray-color);
                        }
                    }
                }
            }
        }
    }

    #Services {
        flex-direction: column;
        justify-content: center;

        .serviceHeader {
            
            .sectionHeader__Center {
                width: 150%;
            }
        }

        #serviceCards {
            flex-wrap: wrap;
            justify-content: center;
            margin: 1.1vh;
            
            .serviceCard {
                flex-basis: 49%;
                border: var(--main-element-border);
                margin: 4px;
                gap: 2vh;
                height: 15vh;

                span {
                    margin: 2vh;
                    color: var(--light-gray-color);
                    font-size: 14px;
                }
                
                .serviceCard__TextAndImage {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: none;
                    margin: 2vh;

                    .serviceCard__Text {
                        display: flex;
                        flex-direction: column;
                        border: none;

                        a {
                            font-size: 16px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }

                    i {
                        color: white;
                    }

                }
            }
        }
    }

    #Stack {
        flex-direction: column;

        .sectionHeader__Center li:nth-child(2) {
            margin-left: -43vh;
        }

        .stackMain {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3vh;
            border: none;
            
            .stackMain__Card {
                display: flex;
                flex-basis: 47.8%;
                align-items: center;

                img {
                    width: 15vh;
                    height: 15vh;
                    padding: 2vh;
                    border: none;
                }

                .stackMain__CardText {
                    display: flex;
                    flex-direction: column;
                    border: none;

                    a {
                        font-size: 16px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    #Blog {
        flex-direction: column;

        .sectionHeader__Left {

            .button-effect-inner {
                height: 4.1vh;
            }
        }
        
        .sectionHeader__Center li:nth-child(2) {
            margin-left: -46vh;
        }

        .blogMain {
            display: flex;
            justify-content: space-between;
            padding: 2vh;

            a {

                .blogMain__Card {
                    width: 100%;
                    padding: 2vh;
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 40vh;
                        height: 40vh;
                        border: none;
                    }

                    .blogMain__CardTextAndArrow {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: none;

                        .blogMain__CardTextAndArrow__Text {
                            display: flex;
                            flex-direction: column;
                            border: none;
                        }

                        .blogMain__CardTextAndArrow__Arrow {
                            display: flex;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .Testimonial {
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .testimonialHeader {
            justify-content: space-between;
        }
        
        .swiper-wrapper {
            display: flex;
            margin: 2vh;
            
            .testimonialCard {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-basis: 50%;
                
                .testimonialCard__Top {
                    display: flex;
                    
                    img {
                        width: 10vh;
                        height: 10vh;
                    }
                    
                    .testimonialCard__TopTextWithImage {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .testimonialCard__TopText {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    .Gallery {
        flex-direction: column;
        overflow: hidden;
        
        .swiper-wrapper {
            width: 100%;
            
            .swiper-slide {
                width: 25vh;
            }
        }
    }

    #Contact {
        flex-direction: column;
        
        .contactMain {
            display: flex;
            justify-content: space-between;
            border: none;
            
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 2vh;
                padding: 25px;
                border: var(--main-element-border);
            
                input, textarea, button {
                    width: 100%;
                    padding: 17px 13px;
                    margin-bottom: 24px;
                    background: none;
                    border: var(--main-element-border);
                    color: black;
                }

                button {
                    cursor: pointer;
                }
            }
            
            .contactInfo {
                max-width: 389px;
                width: 100%;
                padding: 14px 14px 18px 14px;
                margin: 2vh;
                display: flex;
                flex-direction: column;
                gap: 8vh;

                .sectionHeader__Left {
                    width: max-content;
                    margin-top: 2.1vh;

                    h4 {
                        padding: 15px;
                        width: 15vh;
                    }
                }

                .contactInfo__Cards {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    border: none;
                    
                    .contactInfo__Card {
                        display: flex;
                        border: none !important;
                        gap: 2vh;
    
                        .contactInfo__Icon {
                            height: 10vh;
                            
                            i {
                                width: 9vh;
                                padding: 3.5vh 3vh;
                                color: white;
                            }
                        }
    
                        .contactInfo__CardText {
                            display: flex;
                            flex-direction: column;
                            padding: 2vh;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}