main {
    position: relative;
    left: 65vh;
    width: 150vh;
    height: 100%;
    padding: 3.1vh 1vh;

    #Intro {
        display: flex;
        align-items: center;
        padding-right: 2vh;

        #hero {
            width: 40vh;
            height: 40vh;
            margin: 2vh;
            border: none;
        }

        .introRight {
            width: 100%;
            border: none;
            display: flex;
            flex-direction: column;
            gap: 1vh;

            .introRight__Top {
                display: flex;
                justify-content: space-between;
                padding: 1vh 2vh;
                gap: 1vh;

                .introRight__TopLeft {
                    display: flex;
                    align-items: center;
                    gap: 1vh;
                    padding: 1vh 3vh 1vh 3vh;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 2vh;
                        font-size: 14px;
                        color: var(--off-white-color);
                        
                        span {
                            width: 6px;
                            height: 6px;
                            background-color: #00A34C;
                            border-radius: 50%;
                            position: relative;

                            &::before {
                                content: "";
                                background-color: rgb(0, 163, 76);
                                position: absolute;
                                top: -7px;                            
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                animation: onlineAnim 1s infinite linear;
                            }
                        }
                    }
                }

                .introRight__TopCenter {
                    display: flex;
                    align-items: center;
                    gap: 1vh;
                    padding: 1vh 4vh 1vh 4vh;

                    i {
                        color: var(--cotton-candy-pink);
                    }

                    span {
                        font-size: 14px;
                        color: var(--off-white-color);
                    }
                }

                .introRight__TopRight {
                    display: flex;
                    align-items: center;
                    color: white;
                    gap: 1vh;
                    padding: 1vh 7vh 1vh 7vh;
                }
            }

            .introRight__Bottom {
                display: flex;
                gap: 1vh;
                border: none;

                .introRight__BottomLeft {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    padding: 2vh;
                    gap: 1vh;

                    span {
                        color: var(--light-gray-color);
                        font-size: 14px;
                    }

                    h1 {
                        font-size: 23px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .introRight__BottomRight {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    padding: 1vh 3vh 1vh 3vh;
                    
                    .introRight__BottomRight__Top {
                        display: flex;
                        justify-content: space-around;
                        border: none;
                        
                        span {
                            color: var(--off-white-color);
                            border: var(--main-element-border);
                            padding: 1vh 4vh 1vh 4vh;
                            font-size: 14px;

                            &:nth-child(2) {
                                display: flex;
                                align-items: center;
                                gap: 1vh;
                            }
                        }
                    }

                }
            }
        }
    }

    .Projects {
        flex-direction: column;
        
        .projectsMain {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 97.3%;
            border: none;

            .projectsMain__Cards {
                display: flex;
                gap: 2vh;
                width: 100%;
                border: none;

                .projectsMain__Card {
                    width: 25%;
                    padding: 1vh;

                    img {
                        width: 45vh;
                        height: 45vh;
                        border: none;
                    }

                    .projectsMain__CardLink {
                        display: flex;
                        flex-direction: column;
                        border: none;
                        
                        a {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 98%;
                        }

                        span {
                            color: var(--light-gray-color);
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .Partners {
        flex-direction: column;
        align-items: center;

        .partnersMain__Images {
            border: var(--main-element-border);
            padding: 2vh;
            margin: 2vh;
            overflow: hidden;
            width: 97.3%;
            
            li {
                margin: 1vh;
                height: 100%;
                
                img {
                    animation: marquee 10s infinite linear;
                    padding: 2vh;
                    width: 25vh;
                    height: 15vh;
                }
            }
        }

        .partnersMain__Info {
            justify-content: space-between;
            width: 100%;
            gap: 5vh;
            
            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 2vh;
                width: 20vw;
                padding: 2vh;
                border: var(--main-element-border);
            }
        }
        
    }
    
    #EducationAndExperience {

        .sectionHeader {
            width: max-content;
        }
    }

    #Services {
        flex-direction: column;
        justify-content: center;

        ul {
            gap: 1vh;
            flex-wrap: wrap;
            
            li {
                flex-basis: 49%;
            }
        }
    }

    #Stack {
        flex-direction: column;

        .stackMain {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3vh;
            
            .stackMain__Card {
                display: flex;
                flex-basis: 48%;
            }
        }
    }

    #Blog {}

    .Testimonial {
        flex-direction: column;
        
        ul {
            display: flex;
            
            .testimonialCard {
                display: flex;
                flex-direction: column;
                flex-basis: 50%;

                .testimonialCard__Top {
                    display: flex;

                    .testimonialCard__TopText {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}