main {

    .ProjectsPage,
    .GalleryPage {
        flex-direction: column;

        .projectsPageMain__Cards,
        .galleryMain {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1vh;
            margin: 2vh;

            .galleryImage {
                width: 30vh;
                height: 35vh;
                padding: 1vh;
                margin: 2vh;
            }

            .projectsPageMain__Card {
                width: 45vh;
                padding: 1vh;
                margin: 1vh;

                img {
                    width: 40vh;
                    height: 40vh;
                    padding-left: 2vh;
                    border: none;
                }

                .projectsPageMain__CardLink {
                    display: flex;
                    flex-direction: column;
                    border: none;
                    padding: 0vh 2vh 3vh;
                    
                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 98%;
                    }
    
                    span {
                        color: var(--light-gray-color);
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .GalleryPage .marqueeEffect li:nth-child(2) {
        margin-left: -41vh !important;
    }

    .blogPageMain {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 2vh;
        margin: 1vh 2vh;

        .blogPageMain__Card {
            width: 68vh;
            display: flex;
            flex-direction: column;
            gap: 1vh;
            padding: 2vh;
    
            img {
                width: 63.5vh;
                height: 34vh;
            }
            
            .blogPageMain__Header {
                display: flex;
                gap: 2vh;
                border: none;

                span {
                    border: var(--main-element-border);
                    padding: 5px 8px;
                }

            }
            .blogPageMain__CardTextAndArrow {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 2vh 0;

                .blogPageMain__CardText {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    border: none;
                    padding: 2vh;

                    h4 {
                        border-bottom: var(--main-element-border);
                        padding-bottom: 2vh;
                        margin-top: -1vh;
                    }

                    p {
                        padding-top: 3vh;
                        margin-bottom: -1vh;
                    }
                }

                .blogPageMain__CardArrow {
                    margin-bottom: 6vh !important;
                    padding: 2vh;
                    margin: 2vh;
                }
            }
        }
    }

}