* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

:root {
    --cotton-candy-pink: #FF76CE;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}