/* First Things first */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: black;
}

:root {
    --cotton-candy-pink: #ff76cf;
    --cotton-candy-pink-shade: #ff76cf3d;
    --light-gray-color: #bcbcbcb3;
    --off-white-color: #f9f9f9;
    --main-element-border: .75px solid rgba(252, 252, 252, 0.05);
}

a {
    text-decoration: none;
    color: white;
    width: max-content;
    font-weight: 400;
}

ul {
    display: flex;
    list-style-type: none;
}

span {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--off-white-color);
    font-weight: 500;
}

p {
    color: var(--light-gray-color);
    font-weight: 300;
}

div, img {
    border: var(--main-element-border);
}

img {
    object-fit: contain;
}

/* Section Styling */

section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--cotton-candy-pink-shade);
}

.sectionHeader {
    display: flex;
    margin: 2vh;

    .sectionHeader__Left {
        padding: 1vh 2vh 2vh;
        margin: 2vh;
        border: var(--main-element-border);
        
        a, h4 {
            width: 100%;
            height: 100%;
            font-size: 14px;
        }
    }

    .sectionHeader__Center {
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 2vh;
        
        .marqueeEffect {
            display: flex;
            align-items: center;
            -webkit-mask-image-: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
            animation: marquee 10s infinite linear;
            
            /* Marquee Animation */

            @keyframes marquee {
                0% {
                    transform: translateX(0);
                }

                25% {
                    transform: translateX(-25%);
                }

                50% {
                    transform: translateX(-50%);
                }

                75% {
                    transform: translateX(-75%);
                }

                100% {
                    transform: translateX(-100%);
                }
            }

            li {
                padding: 2vh;
                color: var(--off-white-color);
                flex-shrink: 0;
                width: 100%;
            }
        }
    }

    .sectionHeader__Right {
        border: none;
        padding: 1vh 10vh;
        position: relative;
        margin: 2vh;

        .BothSwiperArrows {
            display: flex;
            flex-direction: column;
            color: var(--light-gray-color);
            width: 45px;
            height: 45px;
            text-align: center;
            padding-top: 1.8vh;
            position: absolute;
            top: 0.3vh;
            right: 3vh;
            border: var(--main-element-border);
            cursor: pointer;
            box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
            overflow: hidden;

            &:hover {
                color: var(--off-white-color);
                border-color: var(--main-element-border);
            }

            &::after {
                content: "";
            }

            i {
                transition: transform 0.4s ease-in-out;

                &:nth-child(1) {
                    padding-bottom: 20px;
                    padding-top: 3px;
                }
            }
        }

        .button-prev {
            right: 12vh;
        }
    }
}

.sectionMainMargin {
    margin: 2vh;
}

.sectionMainPadding {
    padding: 2vh;
}


/* Link Button Effect */

.button-effect-inner,
.button-effect-text {
    display: inline-block;
    width: max-content;
}

.button-effect-inner {
    height: 1.75em;
    overflow: hidden;
    position: relative;
}

.button-effect-text {
    line-height: 2;
    transition: transform 0.4s ease-out;
    font-size: 14px;
    padding-top: 3px;
}

.button-effect-text::after {
    content: attr(data-effect);
    display: block;
    color: var(--cotton-candy-pink);
}

.button-effect:hover .button-effect-text {
    transform: translateY(-50%);
}

/* OnlineAnim Animation */

@keyframes onlineAnim {
    0% {
      opacity: 1;
      padding: 1px;
      left: -5px;
    }

    25% {
      opacity: 0.75;
      padding: 2.25px;
      left: -6px;
    }

    50% {
      opacity: 0.5;
      padding: 3.5px;
      left: -7px;
    }

    50% {
      opacity: 0.25;
      padding: 4.75px;
      left: -8px;
    }

    100% {
      opacity: 0;
      padding: 5px;
      left: -9px;
    }
}